*{
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    /* overflow-x: hidden; */
    
}
.navBar{
    position:fixed;
    height: 12vh;
    width: 100vw;
    background-color: rgba(27, 64, 99, 0.952);
    z-index: 100;
}

#homeLogoimg{
    position: absolute;
    border-radius: 50%;
    top: 15px;
    left: 60px;
    right: 20px;
    width: 50px;
    height: 50px;
}
.navBar p{
    color: white;
    position: absolute;
    font-style: normal;
    font-size: large;
    font-weight: bold;
    top: 35%;
    left: 10%;
    letter-spacing: 2px;
}
.navBar ul{
    margin-top: 25px;
    margin-left: 85%;
}
.navBar ul li{
    display: inline;
}
#logoutBtn{
    color: white;
    border: none;
    padding: 5px 10px;
    left: 15px;
    background: none;
    font-size: medium;
    font-weight: bold;
}
#logoutBtn:hover{
    color: rgb(250, 124, 115);
}
#menubtn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: medium;
}
#dropdown{
    overflow: hidden;
    display: inline;
}

#menubtn:hover{
    color: rgb(250, 124, 115);
}
.menu{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgb(233, 115, 107);
}
  
  /* Links inside the dropdown */
.menu a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu a:hover {
    background-color: rgb(177, 88, 82);
}

#dropdown:hover .menu{
    display: block;
}
.container{
   position:fixed;
   background-color: white;
   margin-top: 7%;
   margin-left: 5%;
   z-index: 1;
}
#searchBtn, #addRecbtn{
    display: inline-block;
    margin-left: 5px;
    border-color: rgba(27, 64, 99, 0.952);
    padding: 2px 10px;
    color: rgba(27, 64, 99, 0.952);
    font-size: medium;
}
#searchBtn:hover{
    color: white;
    background-color: rgba(27, 64, 99, 0.952);
}
#addRecbtn{
    background-color: rgba(27, 64, 99, 0.952);
    color: white;
}
#addRecbtn:hover{
    color: rgba(27, 64, 99, 0.952);
    background-color:white;
}
.tbl{
    position: absolute;
    top: 28%;
    left: 1%;
    right: 5%;
}
.table, tr{
    font-size: small;
    border-color: black;
}
#editRecBtn{
    background-color: rgb(233, 115, 107);
    border-color: rgb(216, 106, 98);
    padding: 2px 5px;
    font-style:normal;
    font-size: small;
}
#editRecBtn:hover{
    background-color: white;
    color: rgb(233, 115, 107);
}
#deleteRecBtn{
    background-color: white;
    color: rgb(233, 115, 107);
    border-color: rgb(233, 115, 107);
    padding: 2px 5px;
    font-style:normal;
    font-size: small;
}
#deleteRecBtn:hover{
    background-color: rgb(158, 119, 116);
    border: none;
    color: white;
}
.modal fade{
    font-size: x-small;
}
.modelLabel{
    display: inline-block;
    width: 100px;
}
#addRec, #updateRec, #deleteRec{
    padding:5px 8px;
}
#addRec{
    border: none;
    background-color:#3cb360;
    color: white;
}
#addRec:hover{
    background-color: #6ef195;
    color: black;
}
#updateRec{
    border: none;
    background-color:rgb(44, 154, 228);
    color: white;
}
#updateRec:hover{
    background-color:rgb(98, 188, 248) ;
    color: black;
}
#deleteRec{
    background-color: rgb(146, 110, 76);
    color: white;
    border: none;
}
#deleteRec:hover{
    background-color: rgb(224, 169, 117);
    color: black;
}
#shelfNo, #rackNo{
   padding-right: 100px;
}
























/* .container{
    margin-top: 5px;
}
.container #searchBtn{
    display: inline-block;
    margin-left: 2px;
    padding: 3px 3px;
    font-size: medium;
    color:  rgb(73, 132, 184);
    border-color:  rgb(73, 132, 184);
}
#addRecbtn{
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
    border: none;
    background-color:  rgb(73, 132, 184);
}
.table
{
    font-size: small;
}
.modal fade{
    font-size: small;
}
.modelLabel{

    display: inline-block;
    width: 100px;
}
#addRecBtn, #editRecBtn{
    font-size: small;
    background-color:rgb(241, 141, 111);
    border:none;
} */